@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#particles-js{
  background-color: #121212;
  /* width: 100vw - calc(100vw - 100%);
  height: 100vh - calc(100vh - 100%); */
  width: 100vw;
  height: 100vh;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

h1{
  font-family: 'Poppins', sans-serif;
  color: rgb(224, 224, 224);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  letter-spacing: 30px;
}
#blur{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(60px);
  background-color: black;
  height: 100px;
  width: 600px;
}

/* @media screen and (orientation:portrait) {
  h1{
    transform-origin: center;
    transform: rotate(90deg) translate(-50%, -50%);
  }
} */