<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Trading</title>
    <link rel="stylesheet" href="/TEMPLATES/base.css">
    <link rel="stylesheet" href="/TEMPLATES/colors+fonts.css">
    <link rel="stylesheet" href="/TEMPLATES/nav.css">
    <link rel="stylesheet" href="/TEMPLATES/CSS/smart-trading.css">
</head>
<body>
    <div id="page">
        <div id="content">
            <nav id="navbar">
                <div class="icon"><img src="/TEMPLATES/Assets/nav/hamburger.svg" alt=""></div>
                <div id="nav-icons">
                    <div class="icon"><img src="/TEMPLATES/Assets/nav/sun.svg" alt=""></div>
                    <div class="icon in-sidebar"><img src="/TEMPLATES/Assets/nav/filter.svg" alt=""></div>
                    <div class="icon in-sidebar"><img src="/TEMPLATES/Assets/nav/settings.svg" alt=""></div>
                    <div class="icon in-sidebar"><img src="/TEMPLATES/Assets/nav/logout.svg" alt=""></div>
                </div>
            </nav>
            <div id="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="card-row">
                            <div class="exchange-logo">
                                <img src="/TEMPLATES/Assets/smart-trading/binance.svg" alt="">
                            </div>
                            <div class="card-row-info poppins">
                                <div class="trader-name white">Forexgains</div>
                                <div class="dot"></div>
                                <div class="risk red">LOW RISK</div>
                                <div class="dot"></div>
                                <div class="trade-type main-theme-1">SPOT</div>
                            </div>
                        </div>
                        <div class="past-future-table poppins">
                            <div class="sub-table past">
                                <div class="sub-heading">Past Performance</div>
                                <div class="sub-table-row">
                                    <span class="table-key">Last 12 months :</span>
                                    <span class="table-value green">117%</span>
                                </div>
                                <div class="sub-table-row">
                                    <span class="table-key">Max Drawdown :</span>
                                    <span class="table-value red">23%</span>
                                </div>
                            </div>
                            <div class="vLine" ></div>
                            <div class="sub-table future">
                                <div class="sub-heading">Future Performance</div>
                                <div class="sub-table-row">
                                    <span class="table-key">Initial Balance :</span>
                                    <span class="table-value main-theme-1">$1000</span>
                                </div>
                                <div class="sub-table-row">
                                    <span class="table-key">Total Earned :</span>
                                    <span class="table-value green">$2170</span>
                                </div>
                                <div class="sub-table-row info">
                                    <span class="table-key">FIV :</span>
                                    <span class="table-value green">$4600</span>
                                    <img class="info-icon" src="/TEMPLATES/Assets/smart-trading/info-icon.svg" alt="">
                                </div>
                                <div class="sub-table-row info">
                                    <span class="table-key">APY (%) :</span>
                                    <span class="table-value green">112%</span>
                                    <img class="info-icon" src="/TEMPLATES/Assets/smart-trading/info-icon.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="share-container poppins">
                            <div class="hLine"></div>
                            <div class="share">Profit Share: 25%</div>
                            <div class="hLine"></div>
                        </div>
                        <div class="connect-row">
                            <div class="connect">
                                <button class="connect-btn main-theme-1 josefin">CONNECT</button>
                                <div class="electro e1">
                                    <img src="/TEMPLATES/Assets/smart-trading/electro.svg" alt="">
                                </div>
                                <div class="electro e2">
                                    <img src="/TEMPLATES/Assets/smart-trading/electro.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-row">
                            <div class="exchange-logo">
                                <img src="/TEMPLATES/Assets/smart-trading/binance.svg" alt="">
                            </div>
                            <div class="card-row-info poppins">
                                <div class="trader-name white">Forexgains</div>
                                <div class="dot"></div>
                                <div class="risk red">LOW RISK</div>
                                <div class="dot"></div>
                                <div class="trade-type main-theme-1">SPOT</div>
                            </div>
                        </div>
                        <div class="past-future-table poppins">
                            <div class="sub-table past">
                                <div class="sub-heading">Past Performance</div>
                                <div class="sub-table-row">
                                    <span class="table-key">Last 12 months :</span>
                                    <span class="table-value green">117%</span>
                                </div>
                                <div class="sub-table-row">
                                    <span class="table-key">Max Drawdown :</span>
                                    <span class="table-value red">23%</span>
                                </div>
                            </div>
                            <div class="vLine" ></div>
                            <div class="sub-table future">
                                <div class="sub-heading">Future Performance</div>
                                <div class="sub-table-row">
                                    <span class="table-key">Initial Balance :</span>
                                    <span class="table-value main-theme-1">$1000</span>
                                </div>
                                <div class="sub-table-row">
                                    <span class="table-key">Total Earned :</span>
                                    <span class="table-value green">$2170</span>
                                </div>
                                <div class="sub-table-row info">
                                    <span class="table-key">FIV :</span>
                                    <span class="table-value green">$4600</span>
                                    <img class="info-icon" src="/TEMPLATES/Assets/smart-trading/info-icon.svg" alt="">
                                </div>
                                <div class="sub-table-row info">
                                    <span class="table-key">APY (%) :</span>
                                    <span class="table-value green">112%</span>
                                    <img class="info-icon" src="/TEMPLATES/Assets/smart-trading/info-icon.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="share-container poppins">
                            <div class="hLine"></div>
                            <div class="share">Profit Share: 25%</div>
                            <div class="hLine"></div>
                        </div>
                        <div class="connect-row">
                            <div class="connect">
                                <button class="connect-btn main-theme-1 josefin">CONNECT</button>
                                <div class="electro e1">
                                    <img src="/TEMPLATES/Assets/smart-trading/electro.svg" alt="">
                                </div>
                                <div class="electro e2">
                                    <img src="/TEMPLATES/Assets/smart-trading/electro.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-row">
                            <div class="exchange-logo">
                                <img src="/TEMPLATES/Assets/smart-trading/binance.svg" alt="">
                            </div>
                            <div class="card-row-info poppins">
                                <div class="trader-name white">Forexgains</div>
                                <div class="dot"></div>
                                <div class="risk red">LOW RISK</div>
                                <div class="dot"></div>
                                <div class="trade-type main-theme-1">SPOT</div>
                            </div>
                        </div>
                        <div class="past-future-table poppins">
                            <div class="sub-table past">
                                <div class="sub-heading">Past Performance</div>
                                <div class="sub-table-row">
                                    <span class="table-key">Last 12 months :</span>
                                    <span class="table-value green">117%</span>
                                </div>
                                <div class="sub-table-row">
                                    <span class="table-key">Max Drawdown :</span>
                                    <span class="table-value red">23%</span>
                                </div>
                            </div>
                            <div class="vLine" ></div>
                            <div class="sub-table future">
                                <div class="sub-heading">Future Performance</div>
                                <div class="sub-table-row">
                                    <span class="table-key">Initial Balance :</span>
                                    <span class="table-value main-theme-1">$1000</span>
                                </div>
                                <div class="sub-table-row">
                                    <span class="table-key">Total Earned :</span>
                                    <span class="table-value green">$2170</span>
                                </div>
                                <div class="sub-table-row info">
                                    <span class="table-key">FIV :</span>
                                    <span class="table-value green">$4600</span>
                                    <img class="info-icon" src="/TEMPLATES/Assets/smart-trading/info-icon.svg" alt="">
                                </div>
                                <div class="sub-table-row info">
                                    <span class="table-key">APY (%) :</span>
                                    <span class="table-value green">112%</span>
                                    <img class="info-icon" src="/TEMPLATES/Assets/smart-trading/info-icon.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="share-container poppins">
                            <div class="hLine"></div>
                            <div class="share">Profit Share: 25%</div>
                            <div class="hLine"></div>
                        </div>
                        <div class="connect-row">
                            <div class="connect">
                                <button class="connect-btn main-theme-1 josefin">CONNECT</button>
                                <div class="electro e1">
                                    <img src="/TEMPLATES/Assets/smart-trading/electro.svg" alt="">
                                </div>
                                <div class="electro e2">
                                    <img src="/TEMPLATES/Assets/smart-trading/electro.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-row">
                            <div class="exchange-logo">
                                <img src="/TEMPLATES/Assets/smart-trading/binance.svg" alt="">
                            </div>
                            <div class="card-row-info poppins">
                                <div class="trader-name white">Forexgains</div>
                                <div class="dot"></div>
                                <div class="risk red">LOW RISK</div>
                                <div class="dot"></div>
                                <div class="trade-type main-theme-1">SPOT</div>
                            </div>
                        </div>
                        <div class="past-future-table poppins">
                            <div class="sub-table past">
                                <div class="sub-heading">Past Performance</div>
                                <div class="sub-table-row">
                                    <span class="table-key">Last 12 months :</span>
                                    <span class="table-value green">117%</span>
                                </div>
                                <div class="sub-table-row">
                                    <span class="table-key">Max Drawdown :</span>
                                    <span class="table-value red">23%</span>
                                </div>
                            </div>
                            <div class="vLine" ></div>
                            <div class="sub-table future">
                                <div class="sub-heading">Future Performance</div>
                                <div class="sub-table-row">
                                    <span class="table-key">Initial Balance :</span>
                                    <span class="table-value main-theme-1">$1000</span>
                                </div>
                                <div class="sub-table-row">
                                    <span class="table-key">Total Earned :</span>
                                    <span class="table-value green">$2170</span>
                                </div>
                                <div class="sub-table-row info">
                                    <span class="table-key">FIV :</span>
                                    <span class="table-value green">$4600</span>
                                    <img class="info-icon" src="/TEMPLATES/Assets/smart-trading/info-icon.svg" alt="">
                                </div>
                                <div class="sub-table-row info">
                                    <span class="table-key">APY (%) :</span>
                                    <span class="table-value green">112%</span>
                                    <img class="info-icon" src="/TEMPLATES/Assets/smart-trading/info-icon.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="share-container poppins">
                            <div class="hLine"></div>
                            <div class="share">Profit Share: 25%</div>
                            <div class="hLine"></div>
                        </div>
                        <div class="connect-row">
                            <div class="connect">
                                <button class="connect-btn main-theme-1 josefin">CONNECT</button>
                                <div class="electro e1">
                                    <img src="/TEMPLATES/Assets/smart-trading/electro.svg" alt="">
                                </div>
                                <div class="electro e2">
                                    <img src="/TEMPLATES/Assets/smart-trading/electro.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-row">
                            <div class="exchange-logo">
                                <img src="/TEMPLATES/Assets/smart-trading/binance.svg" alt="">
                            </div>
                            <div class="card-row-info poppins">
                                <div class="trader-name white">Forexgains</div>
                                <div class="dot"></div>
                                <div class="risk red">LOW RISK</div>
                                <div class="dot"></div>
                                <div class="trade-type main-theme-1">SPOT</div>
                            </div>
                        </div>
                        <div class="past-future-table poppins">
                            <div class="sub-table past">
                                <div class="sub-heading">Past Performance</div>
                                <div class="sub-table-row">
                                    <span class="table-key">Last 12 months :</span>
                                    <span class="table-value green">117%</span>
                                </div>
                                <div class="sub-table-row">
                                    <span class="table-key">Max Drawdown :</span>
                                    <span class="table-value red">23%</span>
                                </div>
                            </div>
                            <div class="vLine" ></div>
                            <div class="sub-table future">
                                <div class="sub-heading">Future Performance</div>
                                <div class="sub-table-row">
                                    <span class="table-key">Initial Balance :</span>
                                    <span class="table-value main-theme-1">$1000</span>
                                </div>
                                <div class="sub-table-row">
                                    <span class="table-key">Total Earned :</span>
                                    <span class="table-value green">$2170</span>
                                </div>
                                <div class="sub-table-row info">
                                    <span class="table-key">FIV :</span>
                                    <span class="table-value green">$4600</span>
                                    <img class="info-icon" src="/TEMPLATES/Assets/smart-trading/info-icon.svg" alt="">
                                </div>
                                <div class="sub-table-row info">
                                    <span class="table-key">APY (%) :</span>
                                    <span class="table-value green">112%</span>
                                    <img class="info-icon" src="/TEMPLATES/Assets/smart-trading/info-icon.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="share-container poppins">
                            <div class="hLine"></div>
                            <div class="share">Profit Share: 25%</div>
                            <div class="hLine"></div>
                        </div>
                        <div class="connect-row">
                            <div class="connect">
                                <div class="electro e1">
                                    <img src="/TEMPLATES/Assets/smart-trading/electro.svg" alt="">
                                </div>
                                <div class="electro e2">
                                    <img src="/TEMPLATES/Assets/smart-trading/electro.svg" alt="">
                                </div>
                                <button class="connect-btn main-theme-1 josefin">CONNECT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>