@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* We could use these classes wherever these fonts are needed easily. */

.poppins{
    font-family: 'Poppins', sans-serif;
}

.josefin{
    font-family: 'Josefin Sans', sans-serif;
}



/* colors */

:root{
    --card-dark: #1A1A1A;
    --card-light: hsla(185, 100%, 32%, 0.107);
    --page-bg-light: #e7e7e7;
    --page-bg-dark: #121212;
    --nav-icon-light: black;
    --nav-icon-dark: #A9A9A9;
    --black: black;
    --white: white;
    --green-dark: #00ff00;
    --green-light: #00d500;
}


body{
    --page-bg: var(--page-bg-dark);
    --card-color: var(--card-dark);
    --nav-icon-color: var(--nav-icon-dark);
    --black-white: var(--white);
    --green: var(--green-dark)
}

body.light-mode{
    --page-bg: var(--page-bg-light);
    --card-color: var(--card-light);
    --nav-icon-color: var(--nav-icon-light);
    --black-white: var(--black);
    --green: var(--green-light)
    
}


.main-theme-1{
    color: #0094A1;
}

.red{
    color: #ff0000;
}

.green{
    color: var(--green);
}

.white{
    color: var(--black-white);
}